/* header, footer and contents */
.app-header,
.app-contents,
.app-footer {
	min-width: 850px;
}
.app-header {
	border-top: 3px solid #999;
}
.app-header,
.app-footer {
	box-shadow: 0 0 10px #CCC;
}

/* app contents and navbar */
.app-contents {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 50px;
	padding: 10px 0 0 0;
	overflow: hidden;
}
.app-contents-header {

}
.app-contents-body {
	position: absolute;
	left: 0;
	right: 0;
	top: 98px;
	bottom: 0;
	overflow: auto;
}
.app-navbar-container {
	padding: 0 8px;
}

/* filter form */
.app-filter-form {
	padding-left: 0;
}
.app-filter-form .btn {
	position: relative;
}
.app-filter-form .btn SUP {
	font-size: 11px;
}
.app-filter-form .btn.active {
	background-color: #F8F8F8;
}
.app-filter-form .btn-default:after {
	content: "";
	display: block;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 4px;
	height: 34px;
}
.app-filter-form .btn-default:first-child:after {
	border-radius: 3px 0 0 3px;
}
.app-filter-log:after {
	background-color: #CCC;
}
.app-filter-info:after {
	background-color: #5BC0DE;
}
.app-filter-warn:after {
	background-color: #F0AD4E;
}
.app-filter-error:after {
	background-color: #D9534F;
}
.app-filter-javascript:after {
	background-color: #5CB85C;
}

/* log table */
.app-log-table TR TD:first-child {
	border-left: 5px solid transparent;
}
.app-log-table TR.app-entry-log TD:first-child {
	border-left-color: #CCC;
}
.app-log-table TR.app-entry-info TD:first-child {
	border-left-color: #5BC0DE;
}
.app-log-table TR.app-entry-info:hover TD {
	background-color: #d9edf7;
}
.app-log-table TR.app-entry-warn TD:first-child {
	border-left-color: #F0AD4E;
}
.app-log-table TR.app-entry-warn:hover TD {
	background-color: #fcf8e3;
}
.app-log-table TR.app-entry-error TD:first-child {
	border-left-color: #D9534F;
}
.app-log-table TR.app-entry-error:hover TD {
	background-color: #f2dede;
}
.app-log-table TR.app-entry-javascript TD:first-child {
	border-left-color: #5CB85C;
}
.app-log-table TR.app-entry-javascript:hover TD {
	background-color: #dff0d8;
}
.app-layout-row TD {
	height: 1px !important;
	line-height: 1px !important;
	padding: 0 !important;
	border: 0px !important;
	overflow: hidden;
}

/* type filter badges */
.app-type-filter .badge {
	top: -7px;
	margin-left: -11px;
	right: -11px;
	padding: 3px 6px;
}
.app-type-filter .btn-default .badge {
	background-color: #666;
}
.app-type-filter BUTTON {
	/*width: 70px;*/
}

/* server form */
.app-server-form {
	padding-right: 0;
}
.app-port {
	width: 80px !important;
}
.dropdown-menu .input-group {
	margin: 0 10px;
}

/* clear input button */
.app-clearable-input {
	position: relative;
}
.app-clearable-input INPUT {
	padding-right: 34px;
}
.app-clearable-input A.btn {
	position: absolute !important;
	color: #CCC;
	text-decoration: none;
	right: 0px;
	top: 0px;
	z-index: 2;
	line-height: 23px;
}

/* footer form */
.app-footer-form {
	padding: 0;
	margin: 8px 0 0 0;
}
.app-footer-form .form-group {
	margin: 0;
}
.app-clear-command-btn {
	right: 32px !important;
}

/* clear button */
.app-clear-btn {
	position: absolute;
	right: 8px;
	top: 11px;
}

/* dropdown button */
.app-dropdown-with-buttons LI A {
	padding-right: 30px;
}
.app-dropdown-btn {
	float: right;
	margin-top: -26px;
	color: #777;
}
.app-dropdown-btn:hover {
	color: #333;
}

/* main entries table */
.app-table-time {
	width: 10%;
}
.app-table-component {
	width: 20%;
}
.app-table-message {
	width: 70%;
}

/* app status */
.app-status {
	display: none;
	position: absolute;
	width: 150px;
	height: 22px;
	line-height: 17px;
	left: 50%;
	top: 0;
	margin-left: -75px;
	background-color: #999;
	color: #FFF;
	text-align: center;
	border-radius: 0 0 4px 4px;
	opacity: 1;
	transition: top 300ms ease, opacity 300ms ease;
	transition-delay: 1500ms;
}
@media only screen and (min-width : 1024px) {
	.app-status {
		display: block;
	}
}

/* status colors */
BODY.status-good .app-status {
	background-color: #5CB85C;
	top: -30px;
	opacity: 0;
}
BODY.status-good .app-header {
	border-top-color: #5CB85C;
}
BODY.status-warn .app-status {
	background-color: #F0AD4E;
}
BODY.status-warn .app-header {
	border-top-color: #F0AD4E;
}
BODY.status-bad .app-status {
	background-color: #D9534F;
}
BODY.status-bad .app-header {
	border-top-color: #D9534F;
}

/* logo */
.app-logo {
	width: 80px;
	height: 80px;
	background: url('../images/logo.png') no-repeat left top;
	position: absolute;
	left: 50%;
	z-index: 100;
	background-size: contain;
	z-index: 1;
	top: -14px;
	margin-left: -111px;
	padding-left: 87px;
	line-height: 80px;
	font-size: 32px;
}

/* autocomplete */
.app-autocomplete-wrap INPUT {
	font-family: "Consolas", "Courier New", Courier, mono !important;
}

/* selection popover */
.app-selection-popover {
	position: absolute;
	left: 104px;
	bottom: 26px;
	padding: 0;
	margin: 0;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
	z-index: 2;
}
.app-selection-popover > LI {
	padding: 0 5px;
	font-family: "Consolas", "Courier New", Courier, mono;
	font-size: 90%;
	cursor: pointer;
}
.app-selection-popover > LI:hover,
.app-selection-popover > LI.selected {
	background-color: #EEE;
}
.app-selection-popover > LI > EM {
	font-style: normal;
	font-weight: bold;
}

/* formatter types */
.value-string {
	font-style: normal;
	color: #000;
}
.value-null {
	font-style: italic;
	color: #090;
}
.value-undefined {
	font-style: italic;
	color: #F00;
}
.value-number {
	font-style: italic;
	color: #009;
}
.value-date {
	font-style: italic;
	color: #990;
}
.value-boolean {
	font-style: italic;
	color: #900;
}
.value-function {
	font-style: italic;
	color: #099;
}
.value-object {
	font-style: italic;
	color: #333;
}
.value-array {
	font-style: italic;
	color: #333;
}