/* header, footer and contents */
.app-header,
.app-contents,
.app-footer {
	min-width: 850px;
}

/* app contents and navbar */
.app-contents {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 50px;
	padding: 4px 0 0 0;
	overflow: hidden;
}
.app-contents-header {

}
.app-contents-body {
	position: absolute;
	left: 0;
	right: 0;
	top: 92px;
	bottom: 0;
	overflow: auto;
}
.app-navbar-container {
	padding: 0 8px;
}

/* filter form */
.app-filter-form {
	padding-left: 0;
}
.app-filter-form .btn {
	position: relative;
}
.app-filter-form .btn SUP {
	font-size: 11px;
}
.app-filter-form .btn.active {
	background-color: #F8F8F8;
}
.app-filter-form .btn-default:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	height: 100%;
}
.app-filter-form .btn-default:first-child:after {
	border-radius: 4px 0 0 4px;
}
.app-filter-log:after {
	background-color: #CCC;
}
.app-filter-info:after {
	background-color: #5BC0DE;
}
.app-filter-warn:after {
	background-color: #F0AD4E;
}
.app-filter-error:after {
	background-color: #D9534F;
}
.app-filter-javascript:after {
	background-color: #5CB85C;
}

/* log table */
.app-log-table TR TD:first-child {
	border-left: 5px solid transparent;
}
.app-log-table TR.app-entry-log TD:first-child {
	border-left-color: #CCC;
}
.app-log-table TR.app-entry-info TD:first-child {
	border-left-color: #5BC0DE;
}
.app-log-table TR.app-entry-info:hover TD {
	background-color: #d9edf7;
}
.app-log-table TR.app-entry-warn TD:first-child {
	border-left-color: #F0AD4E;
}
.app-log-table TR.app-entry-warn:hover TD {
	background-color: #fcf8e3;
}
.app-log-table TR.app-entry-error TD:first-child {
	border-left-color: #D9534F;
}
.app-log-table TR.app-entry-error:hover TD {
	background-color: #f2dede;
}
.app-log-table TR.app-entry-javascript TD:first-child {
	border-left-color: #5CB85C;
}
.app-log-table TR.app-entry-javascript:hover TD {
	background-color: #dff0d8;
}

/* type filter badges */
.app-type-filter .badge {
	top: -7px;
	margin-left: -11px;
	right: -11px;
	padding: 3px 6px;
}
.app-type-filter .btn-default .badge {
	background-color: #666;
}
.app-type-filter BUTTON {
	/*width: 70px;*/
}

/* server form */
.app-port {
	width: 80px !important;
}
.dropdown-menu .input-group {
	margin: 0 10px;
}

/* clear input button */
.app-clearable-input {
	position: relative;
}
.app-clearable-input INPUT {
	padding-right: 34px;
}
.app-clearable-input A.btn {
	position: absolute !important;
	color: #CCC;
	text-decoration: none;
	right: 0px;
	top: 0px;
	z-index: 2;
	line-height: 23px;
}

/* footer form */
.app-footer-form {
	padding: 0;
	margin: 8px 0 0 0;
}
.app-footer-form .form-group {
	margin: 0;
}
.app-clear-command-btn {
	right: 32px !important;
}

/* clear button */
.app-clear-btn {
	position: absolute;
	right: 8px;
	top: 6px;
}

/* dropdown button */
.app-dropdown-with-buttons LI A {
	padding-right: 30px;
}
.app-dropdown-btn {
	float: right;
	margin-top: -26px;
	color: #777;
}
.app-dropdown-btn:hover {
	color: #333;
}

/* main entries table */
.app-table-time {
	width: 10%;
}
.app-table-component {
	width: 20%;
}
.app-table-message {
	width: 70%;
}

/* app status */
.app-status {
	position: absolute;
	width: 304px;
	height: 22px;
	line-height: 17px;
	/* left: 50%; */
	top: 50px;
	/* margin-left: -100px; */
	background-color: #f8f8f8;
	text-align: center;
	border-left: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	border-radius: 0 0 4px 4px;
	right: 144px;
}

/* logo */
.app-logo {
	width: 80px;
	height: 80px;
	background: url('../images/logo.png') no-repeat left top;
	position: absolute;
	left: 50%;
	z-index: 100;
	background-size: contain;
	z-index: 1;
	top: -14px;
	margin-left: -111px;
	padding-left: 87px;
	line-height: 80px;
	font-size: 32px;
}