HTML,
BODY {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #333;
}
A {
	color: #333;
	text-decoration: none;
}
.is-hidden {
	display: none;
}

/* log table */
.log-table {
	width: 100%;
	border-spacing: 1px;
    border-collapse: separate;
}
.log-table TH {
	text-align: left;

	background-color: #F0F0F0;
	padding: 4px 10px;
}
.log-table TD {
	padding: 4px 10px;
	font-family: "Consolas", "Courier New", Courier, mono;
}
.log-table THEAD,
.log-table TBODY {
	display: block;
}
.log-table TBODY {
	height: 600px;
	overflow: hidden;
	overflow-y: scroll;
}
.log-table TR.type-info TD {
	background-color: #FAFAFA !important;
}
.log-table TR.type-warn TD {
	background-color: #FFF4C8 !important;
}
.log-table TR.type-error TD {
	background-color: #FFBBC8 !important;
}
.log-table TD.col-component A {
	display: block;
	box-sizing: border-box;
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table-titles TH {
	background-color: #DFDFDF;
}
.type-column {
	width: 200px;
}
.component-column {
	width: 300px;
}
.data-column {

}
.col-type {
	text-align: center;
}

/* value types */
.value-string {
	font-style: normal;
	color: #000;
}
.value-null {
	font-style: italic;
	color: #090;
}
.value-undefined {
	font-style: italic;
	color: #F00;
}
.value-number {
	font-style: italic;
	color: #009;
}
.value-date {
	font-style: italic;
	color: #990;
}
.value-boolean {
	font-style: italic;
	color: #900;
}
.value-function {
	font-style: italic;
	color: #099;
}
.value-object {
	font-style: italic;
	color: #333;
}
.value-array {
	font-style: italic;
	color: #333;
}

/* filter */
.filter-input {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding: 0 8px;
	border: 1px solid #A3A3A3;
	outline: none;
	font-family: "Consolas", "Courier New", Courier, mono;
}
.type-filters {
	padding: 0 10px !important;
	white-space: nowrap;
}
.type-filter {
	display: block;
	float: left;
	padding: 4px 6px;
	margin: 0;
	border-left: 1px solid #A3A3A3;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #A3A3A3;
	color: #666;
	font-size: 80%;
}
.type-filter:last-of-type {
	border-right: 1px solid #A3A3A3;
	border-radius: 0 5px 5px 0;
}
.type-filter:first-of-type {
	border-radius: 5px 0 0 5px;
}
.filter-input:hover,
.type-filter:hover {

}
.type-filter.is-selected {
	background-color: #FFF;
	color: #333;
}